'exception-reporting':
  'userId': 'b94f7c14-bef4-9734-2493-186a68fb2aed'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '9811647466188381982a8da25da13089ec1489d5'
'editor':
  'tabLength': 4
  'softWrap': true
  'preferredLineLength': 120
'core':
  'themes': [
    'atom-dark-ui'
    'specials'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    '.sass-cache'
  ]
  'disabledPackages': []
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'tree-view':
  'hideIgnoredNames': true
'language-php': {}
'file-types':
  'spv': 'text.php'
